<mat-toolbar class="header">Self-Awareness Guide
    <span class="spacer"></span>
    <button mat-button *ngIf="user" (click)="logout()"><mat-icon>power_settings_new</mat-icon> Logout</button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav opened mode="side">
        <mat-card class="sidenav-card mat-nav-card">
            <assessment-nav></assessment-nav>
        </mat-card>
    </mat-sidenav>
    <router-outlet></router-outlet>

</mat-sidenav-container>

<mat-toolbar class="footer">Footer</mat-toolbar>