<div class="container">
  <mat-toolbar class="header">StonegateChurch Self Assessment 
    <span class="spacer"></span>
    <button mat-raised-button *ngIf="user" (click)="logout()">Logout</button>
  </mat-toolbar>
  <div class="sidenav-container">
    <div *ngIf="user; else showLogin">
      <assessment-home></assessment-home>
    </div>
    <ng-template #showLogin>
      <assessment-login></assessment-login>
    </ng-template>
  </div>

  <mat-toolbar class="footer">Powered by anthonycunningham.io</mat-toolbar>
</div>