<div class="" [formGroup]="form">
    <div *ngIf="question">
        <mat-card assessmentMatElevationHover>
            <strong [attr.for]="question.key">{{question.label}}{{question.required && question.label !== '' ? ' *' : ''}}</strong>
            <div [ngSwitch]="question.type">

                <mat-form-field *ngSwitchCase="'short answer'" class="full-width-field">
                    <mat-label>{{question.placeholder}}</mat-label>
                    <textarea matInput [formControlName]="question.key" [id]="question.key" [type]="text"></textarea>
                </mat-form-field>

                <mat-form-field *ngSwitchCase="'long answer'" class="full-width-field">
                    <mat-label>{{question.placeholder}}</mat-label>
                    <textarea class="long-answer-field" matInput [formControlName]="question.key" [id]="question.key"
                        [type]="text"></textarea>
                </mat-form-field>

                    <div *ngSwitchCase="'rating'" class="full-width-field">
                    <mat-label>{{question.placeholder}}</mat-label><br /><br />
                    <mat-radio-group aria-label="Select an option" class="full-width-field" [formControlName]="question.key" [id]="question.key">
                        Low&nbsp;&nbsp;&nbsp;<mat-radio-button value="1">1&nbsp;&nbsp;&nbsp;</mat-radio-button>
                        <mat-radio-button value="2">2&nbsp;&nbsp;&nbsp;</mat-radio-button>
                        <mat-radio-button value="3">3&nbsp;&nbsp;&nbsp;</mat-radio-button>
                        <mat-radio-button value="4">4&nbsp;&nbsp;&nbsp;</mat-radio-button>
                        <mat-radio-button value="5">5&nbsp;&nbsp;&nbsp;</mat-radio-button>&nbsp;&nbsp;High
                      </mat-radio-group>
                    </div>

            </div>
        </mat-card>
        <br /><br />
        <div class="errorMessage" *ngIf="!isValid"></div>
    </div>
</div>