<div class="" [formGroup]="form">
    <div *ngIf="question">
        <mat-card>
            <strong [attr.for]="question.key">#{{question.orderBy}} {{question.label}}</strong>
            <div [ngSwitch]="question.type">

                <mat-form-field *ngSwitchCase="'short answer'" class="full-width-field">
                    <mat-label>{{question.placeholder}}</mat-label>
                    <textarea matInput [formControlName]="question.key" [id]="question.key" [type]="text"></textarea>
                </mat-form-field>

                <mat-form-field *ngSwitchCase="'long answer'" class="full-width-field">
                    <mat-label>{{question.placeholder}}</mat-label>
                    <textarea class="field-long-answer" matInput [formControlName]="question.key" [id]="question.key"
                        [type]="text"></textarea>
                </mat-form-field>

            </div>
        </mat-card>
        <br /><br />
        <div class="errorMessage" *ngIf="!isValid"></div>
    </div>
</div>