/* You can add global styles to this file, and also import other style files */
@import '~firebaseui/dist/firebaseui.css';

html { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    height: 100%;
    background-image: url("./assets/subtle-web-background-3.jpg");
    background: #1F2833;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '@angular/material/prebuilt-themes/purple-green.css';
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';
@import '@angular/material/prebuilt-themes/indigo-pink.css';

.sidenav-container {
    position: absolute;
    top: 60px;
    bottom: 60px;
    left: 0;
    right: 0;
  }

  .sidenav-card {
    max-width: 200px;
    min-width: 150px;
    min-height: -webkit-fill-available;
    box-shadow: 6px 0 6px rgba(0,0,0,.1);
    height: 100%;
  }
  
    .header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background: #1F2833;
      color:white;
    }
    
    .footer {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      background: #1F2833;
      color:white;
    }
  
    .logout {
      padding: 0 14px;
    }
    
    .spacer {
      flex: 1 1 auto;
    }
    

    .div-home-message {
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #DEF2F1;
        height: 400px;
      }
    
      .div-container-background {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url('./assets/getty_994786356_398509_.png'); 
        height: 100%;
      }
    
      .align-center {
        text-align: center;
      }


      .div-contacts-message-p {
        padding-bottom: 15px;
        padding-left: 0px;
      }

      .full-width-field {
        width: 100%;
      }
    
    .long-answer-field {
        height: 65px
    }


    .full-width-field {
        width: 100%;
      }
    
      .div-contacts-message-p {
        padding: 15px;
      }
      
      .div-label-center {
        display: flex;
        justify-content: center; /* align horizontal */
        align-items: center; /* align vertical */
      }

      .section-card {
        background: #C5C6C7;
        color: #0B0C10;
      }
    
      .section-card-subtitle {
        background: #C5C6C7;
        color: #0B0C10;
      }


      .mat-card-header-text {
        height: auto;
        margin: 0;
      }

      .mat-card-login {
          background: #0B0C10
      }

      .mat-card-p {
          color: #C5C6C7;
      }

      .mat-nav-card {
          background: #C5C6C7;
      }

      .mat-nav-card-color {
          color: #0B0C10;
          font-size: x-large;
      }

      .mat-drawer {
        box-shadow: 6px 0 6px rgba(0,0,0,.1);
      }


    .teal-color {
      color: #66FCF1;
      background-color: #45A29E;
    }
      
      //=== Drawing effect

@mixin btn-border-drawing($color: #ccc, $hover: black, $width: 2px, $vertical: top, $horizontal: left, $duration: 0.25s) {
  box-shadow: inset 0 0 0 $width $color;
  color: $color;
  transition: color $duration $duration/3;
  position: relative;
  
  &::before,
  &::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0; height: 0;
    
    #{$vertical}: 0; 
    #{$horizontal}: 0;
  }

  &::before {
    $h-side: if($horizontal == 'left', 'right', 'left');
    
    border-#{$vertical}-width: $width;
    border-#{$h-side}-width: $width;
  }
  
  &::after {
    $v-side: if($vertical == 'top', 'bottom', 'top');
    
    border-#{$v-side}-width: $width;
    border-#{$horizontal}-width: $width;
  }
  
  &:hover {
    color: $hover;
    
    &::before,
    &::after {
      border-color: $hover;
      transition: border-color 0s, width $duration, height $duration;
      width: 100%;
      height: 100%;
    }
    
    &::before { transition-delay: 0s, 0s, $duration; }
    
    &::after { transition-delay: 0s, $duration, 0s; }
  }
}

.draw-border {
  @include btn-border-drawing(#1F2833, #45A29E, 4px, bottom, right);
}

//=== Button styling, semi-ignore
.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem 'Roboto Slab', sans-serif;
  padding: 1em 2em;
  letter-spacing: 0.05rem;
}



.example-action-buttons {
  padding-bottom: 20px;
}

.accordion-headers-align .mat-expansion-panel-header-title,
.accordion-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.accordion-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}


.linked-in-img {
  background-image: url("./assets/linkedin.png");
}

.mat-icon {
   vertical-align: middle;
}

.mat-chip-wrapper {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.mat-action-row {
  justify-content: left !important;
}